---
import HomeSection from '@common/HomeSection/HomeSection.astro';
import { getEntry } from 'astro:content';

import ContactList from '@widgets/Home/sections/Contact/ContactList';
import { getEmail, getSocials } from '@services/myData';

import { components } from '@common/mdx/Components.astro';

const email = getEmail();
const socials = getSocials();

const entry = await getEntry('home', 'contact');
const { Content } = await entry.render();
---

<HomeSection id='contact' align='center' class='bg-violet-200'>
  <Fragment slot='title'>{entry.data.title}</Fragment>

  <div class='max-w-3xl mx-auto'>
    <Content components={components} />
    <ContactList email={email} socials={socials} client:idle />
    <div>{entry.data.subtitle}</div>
  </div>
</HomeSection>
