---
import Layout from '@layouts/PageLayout.astro';
import ProjectCard from '@atoms/ProjectCard';
import ToTopButton from '@atoms/ToTopButton';

const projects = await Astro.glob('./*.mdx');
projects.sort((a, b) => {
	const dateA = new Date(a.frontmatter.date).getTime();
	const dateB = new Date(b.frontmatter.date).getTime();
	return dateB - dateA;
});
---

<Layout>
	<h1>Projetos</h1>
	<section class="grid sm:grid-cols-2 md:grid-cols-3 justify-items-center gap-12 my-6">
		{
			projects.map((project) => (
				<ProjectCard
					client:load
					url={project.url}
					cover={project.frontmatter.cover}
					title={project.frontmatter.title}
					description={project.frontmatter.description}
					tags={project.frontmatter.tags}
					date={project.frontmatter.date}
				/>
			))
		}
		<ToTopButton client:load />
	</section>
</Layout>
