---
import Layout from '@layouts/BaseLayout.astro';
import ProjectCard from '@atoms/ProjectCard';

const projects = await Astro.glob('./*.mdx');
projects.sort((a, b) => {
	var dateA = new Date(a.frontmatter.date).getTime();
	var dateB = new Date(b.frontmatter.date).getTime();
	return dateA - dateB;
});
---

<Layout>
	<section class="px-6 py-10 max-w-6xl mx-auto mb-8">
		<h1>Projetos</h1>
		<div class="grid grid-cols-3 justify-items-center gap-6 mt-10">
			{
				projects.map((project) => (
					<ProjectCard
						client:load
						url={project.url}
						cover={project.frontmatter.cover}
						title={project.frontmatter.title}
						description={project.frontmatter.description}
						tags={project.frontmatter.tags}
						date={project.frontmatter.date}
					/>
				))
			}
		</div>
	</section>
</Layout>
